<h2>Dashboard</h2>

<dl>
    <dt>Menu</dt>
    <dd>Like, we need one. Might consider moving some buttons up there.</dd>
    <dt>Dashboard</dt>
    <dd>This should show disk usage. Mounts and the like.</dd>
    <dt>fs</dt>
    <dd>Needs to implement upload. Use modal for type of upload. (create folder/file, put file, put dir from tar)</dd>
    <dt>fsinfo</dt>
    <dd>Need to implement replace (post) and delete. Delete should have confirm. Replace should have modal for file select.</dd>
    <dt>Content</dt>
    <dd>Linked from explorer on file. Needs implemented. Will need mime/type in node object.</dd>
</dl>
